<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.student.backend.mapper.UserMapper">


    <update id="update" parameterType="org.student.backend.pojo.entity.User">
        UPDATE user
        SET
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="role != null">
            role = #{role},
        </if>
        <if test="fullName != null">
            fullName = #{fullName},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="avatarUrl != null">
            avatarUrl = #{avatarUrl},
        </if>
        WHERE id = #{id}
    </update>
</mapper>